/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Amiri|Oswald:300,700');

html * {
  margin: 0;
}

body {
  min-width: 400px;
}

h1 {
  font-family: Oswald;
  font-weight: 700;
  font-size: 300%;
  line-height: 90%;
  margin: .25em 0 0 .25em;
}

h2 {
  line-height: 95%;
}

h3 {
  font-family: Amiri;
  font-size: 76%;
  margin: 0 1.15em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  width: 70%;
  min-width: 100px;
  background-color: azure;
  border: 1px solid lightgray;
  margin: 1em auto;
  padding: 1em;
}

